<div class="welcome">
 
  <div class="splash-blurb">
    <div>

      <h1>
        All of your favorite cocktail flavors ready to be imbibed upon as delicious confectionaries.
        <br>
        
         Enjoy anytime, anywhere, with no regrets. 
        
          </h1>
      <!-- <span class="blurb-numbers">2</span>
      <span class="blurb-text"> ways to start.</span>
      <br>
      <br>
      <span class="blurb-numbers">70 </span>
      <span>options to experiment with.</span>

      <p>Millions of  sweet outcomes.</p> -->
    </div>

    <!-- <p>What will you create?</p> -->
  </div>
</div>

<div>





<router-outlet></router-outlet>
